[submodule "data/nytimes"]
	path = covid/data/nytimes
	url = https://github.com/nytimes/covid-19-data.git
[submodule "data/jhu"]
	path = covid/data/jhu
	url = https://github.com/CSSEGISandData/COVID-19.git
